@page "/schoolCLasses"
@inject SchoolCLassService SchoolClass;

<h3>All Schoolclasses (@SchoolClass.SchoolClasses.Count())</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>SchoolLevel</th>
            <th>SchoolYear</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var key in SchoolClass.SchoolClasses)
        {
            <tr>
                <td>@key.Name</td>
                <td>@key.SchoolLevel</td>
                <td>@key.SchoolYear</td>
                <td>@key.Students.Count()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SchoolClass.GetAllSchoolClassesAsync();
    }
}
